<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Мастер Адресов: Облачный сервис по распознаванию, исправлению и восстановлению почтовых адресов России. Поиск почтового адреса бесплатно, поиск по адресу бесплатно, бесплатный поиск по адресу, исправление почтовых адресов, поиск почтового индекса по адресу, поиск дома по адресу, нормализация адреса по ФИАС.</title>
    <meta name="description" content="Облачный сервис по распознаванию, исправлению и восстановлению почтовых адресов России" />
    <meta name="keywords" content="узнать почтовый индекс по адресу,чистка почтовых адресов, распознавание почтовых адресов, проверка почтовых адресов, нормализация по ФИАС, чистка адресных данных, мастер адресов" />

    <link rel="stylesheet" href="css/site.css" type="text/css"/>
    <link rel="stylesheet" href="css/current.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/lib/colorbox.css" type="text/css"/>
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="css/style_ie.css" type="text/css" media="screen, projection"/><![endif]-->
    <script type="text/javascript" src="js/lib/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="js/lib/micro-tpl.js"></script>
    <script type="text/javascript" src="js/Config.js"></script>
    <script type="text/javascript" src="js/ApiClient.js"></script>
    <script type="text/javascript" src="js/UIController.js"></script>

</head>

<body>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25919096-2']);
    _gaq.push(['_setDomainName', 'addressmaster.ru']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<div id="wrapper">
    <div id="header">
        <div class="container">
            <div class="navbar top-menu">
                <ul class="nav">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="about.html">О сервисе</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- #header-->
    <div id="middle">
        <div class="container">
            <div class="sidebar" id="sideLeft">
                <div class="logo">
                    <a href="index.html"><img src="img/logo.png" alt=""/></a>
                </div>
            </div>
            <div id="content">

                <div class="navbar search-menu">
                    <ul class="nav">
                        <li class="active"><a href="index.html">Поиск</a></li>
                        <li><a href="howto.html">Как пользоваться</a></li>
                        <li><a href="batch.html">Пакетная очистка</a></li>
                    </ul>
                </div>

                <div class="search-input">
                    <input type="text" name="text" value=""/>
                </div>

                <div class="search-result">
                    <ul class="result-list">
                    </ul>
                </div>
            </div>
            <!-- #content-->
        </div>
        <!-- container-->
    </div>
    <!-- #middle-->

</div>
<!-- #wrapper -->
<div id="footer">
    <div class="container">
        <div class="bottom-menu navbar pull-left">
            <ul class="nav">
                <li><a href="about.html">О сервисе</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="copyright pull-right">
            <div id="version"></div>
            <div id="build"></div>
            © 2017 <a href="http://www.taskdata.com/">TaskData.</a> Все права защищены
        </div>
    </div>
</div>
<!-- #footer -->

<div class="data-loading"><!-- Place at bottom of page --></div>
<script type="text/html" id="address_tpl">
    <ul class="result-list">
        <%if (addressListContainer.DEBUG_INFO!=null) { %>
        <span><%=addressListContainer.DEBUG_INFO%></span>
        <% } %>

        <% for ( var i = 0; i < addressListContainer.addressList.length; i++ ) { %>
        <li>
            <div class="address" p_address_id="<%=addressListContainer.addressList[i].ADDRESS_ID%>">
                <table class="result-address-table">
                    <tr>
                        <td>
                            <span class="checkbox"><input type="checkbox"/></span>
                        </td>
                        <td>
                            <span class="zipcode"><%if (addressListContainer.addressList[i].ZIPCODE!=null) { %><%=addressListContainer.addressList[i].ZIPCODE%>, <% } %></span>
                        </td>
                        <td>
                            <span><%=addressListContainer.addressList[i].ADDRESS_STR%></span>
                        </td>
                    </tr>
                </table>
                <%if (addressListContainer.addressList[i].DEBUG_INFO!=null) { %>
                <span><%=addressListContainer.addressList[i].DEBUG_INFO%></span>
                <% } %>
            </div>
        </li>
        <% } %>
    </ul>
</script>
<script type="text/html" id="address_info_tpl">
    <table class="address-info">
        <tr>
            <% if ( data.HOUSES && data.HOUSES.length > 10 ){ %>
            <td width="30%">
                <% } else { %>
            <td width="45%">
                <% } %>
                <table class="addressMetaInfo">
                    <% for ( var i = 0; i < data.ADDRESS_INFO.length; i++ ) { %>
                    <tr>
                        <td><%=data.ADDRESS_INFO[i].elementName%></td>
                        <td><%=data.ADDRESS_INFO[i].formalName%></td>
                    </tr>
                    <% } %>
                </table>
            </td>
            <% if ( data.HOUSES && data.HOUSES.length > 10 ){ %>
            <td width="45%" style="vertical-align:top;">
                <% } else { %>
            <td width="25%" style="vertical-align:top;">
                <% } %>
                <table>
                    <% if ( data.ZIPCODE ) { %>
                    <tr>
                        <td>Индекс</td>
                        <td><%=data.ZIPCODE%></td>
                    </tr>
                    <% } %>
                    <% if ( data.HOUSE_INFO) { %>
                    <tr>
                        <td>Дом</td>
                        <td><%=data.HOUSE_INFO.HOUSE_NUMBER%></td>
                        <!--<td><a href="#">1,</a></td>-->
                    </tr>

                        <% if ( data.HOUSE_INFO.BUILDING_NUMBER) { %>
                        <tr>
                            <td>Корпус</td>
                            <td><%=data.HOUSE_INFO.BUILDING_NUMBER%></td>

                        </tr>
                        <% } %>

                        <% if ( data.HOUSE_INFO.STRUCTURE) { %>
                        <tr>
                            <td><%=data.HOUSE_INFO.STRUCTURE.STRUCTURE_STATUS.STRUCTURE_STATUS_LONG_DESC%></td>
                            <td><%=data.HOUSE_INFO.STRUCTURE.STRUCTURE_NUM%></td>
                        </tr>
                        <% } %>

                    <% } else if ( data.HOUSES && data.HOUSES.length > 0 ){ %>
                    <tr>
                        <td>Дома</td>
                        <td>
                            <% for ( var i = 0; i < data.HOUSES.length; i++ ) { %>
                            <span>
                                <% if ( (i+1) < data.HOUSES.length){ %>
                                <span>
                                <%}%>
                                <a class="house-number" href="#"
                                   p_address_str="<%=data.ADDRESS_STR%>"
                                   p_zip_code="<%=data.HOUSES[i].ZIPCODE%>"
                                   p_house_str="<%=data.HOUSES[i].HOUSE_STR%>"><%= data.HOUSES[i].HOUSE_STR %></a>
                                <% if ( (i+1) < data.HOUSES.length){ %>
                                <span>,&nbsp;</span>
                                 </span>
                                <%}%>
                            </span>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </td>
            <td align="right" valign="top">
                <ul class="context-menu">
                    <li><a class="open-on-map" href="http://maps.yandex.ru/?text=<%=(data.ZIPCODE ? (data.ZIPCODE + ' ') : '') + encodeURIComponent(data.ADDRESS_STR.replace(/[\.|,]/g,' '))%>" target="_blank">Открыть на карте</a></li>
                    <li><div>
                        <a class="show-details" href="#"
                           p_address_id="<%=data.ADDRESS_ID%>"
                           p_house_id="<%=(data.HOUSE_INFO && data.HOUSE_INFO.HOUSE_ID) ? data.HOUSE_INFO.HOUSE_ID : null%>"
                           p_range_id="<%=(data.HOUSE_INFO && data.HOUSE_INFO.HOUSE_RANGE_INFO && data.HOUSE_INFO.HOUSE_RANGE_INFO.HOUSE_RANGE_ID) ? data.HOUSE_INFO.HOUSE_RANGE_INFO.HOUSE_RANGE_ID : null%>">Подробнее</a>
                    </div></li>
                    <!--<li><a href="#">Запомнить</a></li>-->
                </ul>
            </td>
        </tr>
    </table>
</script>
<script type="text/html" id="address_details_tpl">
    <div class="address-details">
        <table class="address-details-table">
            <%  for ( var i = 0; i < data.ADDRESS_INFO.length; i++ ) { %>
            <tr>
                <td><%=data.ADDRESS_INFO[i].elementName%></td>
                <td><%=data.ADDRESS_INFO[i].formalName%></td>
            </tr>
            <%  } %>
            <% if (data.ADDRESS_DETAILS.ZIPCODE) { %>
            <tr>
                <td>индекс</td>
                <td><%=data.ADDRESS_DETAILS.ZIPCODE%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.HOUSE_NUMBER) { %>
            <tr>
                <td>дом</td>
                <td><%=data.ADDRESS_DETAILS.HOUSE_NUMBER%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.BUILDING_NUMBER) { %>
            <tr>
                <td>корпус</td>
                <td><%=data.ADDRESS_DETAILS.BUILDING_NUMBER%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.STRUCTURE) { %>
            <tr>
                <td><%=data.ADDRESS_DETAILS.STRUCTURE_STATUS_LONG_DESC%></td>
                <td><%=data.ADDRESS_DETAILS.STRUCTURE%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.OKATO) { %>
            <tr>
                <td>ОКАТО</td>
                <td><%=data.ADDRESS_DETAILS.OKATO%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.OKTMO) { %>
            <tr>
                <td>ОКТМО</td>
                <td><%=data.ADDRESS_DETAILS.OKTMO%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.IFNSFL) { %>
            <tr>
                <td>Код ИФНС ФЛ</td>
                <td><%=data.ADDRESS_DETAILS.IFNSFL%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.TERR_IFNSFL) { %>
            <tr>
                <td>Код территориального участка ИФНС ФЛ</td>
                <td><%=data.ADDRESS_DETAILS.TERR_IFNSFL%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.IFNSUL) { %>
            <tr>
                <td>Код ИФНС ЮЛ</td>
                <td><%=data.ADDRESS_DETAILS.IFNSUL%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.FIAS_GUID) { %>
            <tr>
                <td>идентификатор ФИАС</td>
                <td><%=data.ADDRESS_DETAILS.FIAS_GUID%></td>
            </tr>
            <% } %>
            <% if (data.ADDRESS_DETAILS.KLADR) { %>
            <tr>
                <td>КЛАДР</td>
                <td><%=data.ADDRESS_DETAILS.KLADR%></td>
            </tr>
            <% } %>
        </table>
    </div>
</script>
</body>
</html>