
#content {
    width: 70% !important;
}

#sideLeft  {
    width: 23% !important;
}

#about-info-panel {
    float: left;
    margin-top: 15px;
    background-color: #c7eafb;
}

#about-info-content ul li {
    margin-left: 30px;
}

.about-subtitle {
    color: #118acb;
}

.about-par {
    text-align: justify;
    padding: 5px 0 0 0;
}

.about-info {
    margin-top: 40px;
    float: left;
    padding-right: 15px;
}

.about-info a {
    color: #0078a3;
    text-decoration: none;
}

.about-info a:hover {
    color: black;
}