* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}
body {
	font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 50px;
	background: #ebe9c3;
	background-image: url('../img/beta2.png');
	background-position: top left;
	background-repeat: no-repeat;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
.container {
	width: 1000px;
    margin: 0 auto;
}
#content {
    float: left;
    width: 73%;
    padding-left: 30px;
}

.txt-content a {
    text-decoration: none;
    color: #0078a3;
}

.txt-content a:hover {
    color: black;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 20%;
	position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -100px auto 0;
		min-width: 1000px;
	height: 100px;
	background: #ebe9c3;
	position: relative;
    font-size: 12px;
}

#footer .container{
    padding-top: 15px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* Navigation
-----------------------------------------------------------------------------*/

.navbar {
}

.navbar .nav {
    list-style: none;
}

.navbar .nav > li {
    float: left;
}

.navbar .nav > li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px 10px;
    /*font-weight: bold;*/
}

.navbar .nav > li a:hover {
    color: #0078a3;
}

.top-menu {
    float: right;
    margin-top: 25px;
}

.bottom-menu {
    margin-left: 250px;
}

.bottom-menu .nav > li {
    float: none;
    line-height: 25px;
}

.bottom-menu .nav > li a {
    padding: 0;
}

.search-menu {
    margin-top: 40px;
    height: 15px;
}

.search-menu.navbar .nav > li a {
    padding: 0 15px 0 5px;
    color: #0078a3;
    font-size: 14px; 
}

.search-menu.navbar .nav > li a:hover, .search-menu.navbar .nav > li.active a {
    color: black;
}


/* Logo
-----------------------------------------------------------------------------*/
.logo {
    text-align: right;
    margin-top: 35px;
    margin-right: 30px;
}

.copyright {
    margin-right: 15px;
}

.copyright > a {
    text-decoration: none;
    color: black;
}

.copyright > a:hover {
    color: #0078a3;
}

/* Content
-----------------------------------------------------------------------------*/

/* Input */
.search-input {
    margin-top: 14px;
}

.search-input input {
    width: 96%;
    /*height: 36px;*/
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #0078a3;
}

.search-input input:focus {
    outline: none;
    border: 1px solid #0078a3;
    box-shadow: 0px 0px 8px #0078a3;
    -moz-box-shadow: 0px 0px 8px #0078a3;
    -webkit-box-shadow: 0px 0px 8px #0078a3;
}


/* Result */
.search-result{
    margin-top: 40px;
}

.result-address-table {
    margin-right: 5px;
}

.search-result ul.result-list{
    list-style: none;

}

.search-result ul.result-list > li:first-child{
    border-top: 1px solid black;
}

.search-result ul.result-list > li{
    border-bottom: 1px solid black;
}

.search-result ul.result-list > li:hover {
    background-color: #d7f3ff;
}

.search-result ul.result-list > li.selected{
    background-color: #abe1f9;
}

.search-result ul.result-list > li span{
    display: inline-block;
}

.search-result ul.result-list > li span.checkbox{
    min-width: 30px;
    display: none;
}

.search-result ul.result-list > li span.zipcode{
    min-width: 50px;
}

/* Address info block
-----------------------------------------------------------------------------*/
.address{
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}

.address-info{
    width: 100%;
    height: 100%;
    padding: 6px 5px;
    /*font-size: 11px;*/
}

.addressMetaInfo {
    text-transform: capitalize;
}

.address-info ul.context-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.address-info ul.context-menu > li a {
    padding: 0 15px 0 5px;

}

.address-info a{
    color: #0078a3;
    text-decoration: none;
}

.address-info a:hover{
    color: black;
}

.address-info table td:first-child{
    color: #888;
    width: 75px;
}

/* Address Details popup
-----------------------------------------------------------------------------*/
.address-details {
    padding:10px;
    background:#fff;
}

.address-details a {
    color: #0078a3;
    text-decoration: none;
}

.address-details a:hover {
    color: black;
}

.address-details-table {
    text-transform: capitalize;
    border-spacing:0;
    border-collapse:collapse;
}

.address-details-table tr:hover {
    background-color: #d7f3ff;
}

.address-details-table td {
    padding: 3px 10px 3px 5px;
}

.address-details-table td:first-child {
    color: #888;
}

/* Data loading
-----------------------------------------------------------------------------*/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.data-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   data-loading element will be visible */
body.loading .data-loading {
    display: block;
}
