		h4 {
			zcolor: #005aaa;
			color: #118acb;
			padding: 0 0 15px 0;
		}

		#left_panel {
			float: left;
			width: 55%;
			padding-right: 15px;
		}
		#right_panel {
			float: right;
			width: 35%;
			background-color: #c7eafb;
		}

		#right_panel h4 {color: black;}

		#left_panel ul li {margin-left: 30px;}		
		#right_panel ul li {margin-left: 15px; padding: 0 0 15px 0;}

		#results_table {border: solid black; border-width: 1px 0 0 1px;}
		#results_table tr td {padding: 3px; border: solid black; border-width: 0 1px 1px 0;}

		span.beta {color: red;}

		div#bottom_note {
			background-color: #c7eafb;
		}

		div.corner1 {background-image: url('../img/corner1.png'); background-repeat: no-repeat; background-position: top left;}
		div.corner2 {background-image: url('../img/corner2.png'); background-repeat: no-repeat; background-position: top right;}
		div.corner3 {background-image: url('../img/corner3.png'); background-repeat: no-repeat; background-position: bottom right;}
		div.corner4 {background-image: url('../img/corner4.png'); background-repeat: no-repeat; background-position: bottom left;}
